<p>He grazes you with the sword, but you manage to injure him enough that he fears for his life and surrenders.</p>

<nav class="weapon">
	<a href="/surrender"><span>Continue</span><span>Journey proceeds</span></a>
</nav>
