<img src="https://s-media-cache-ak0.pinimg.com/736x/39/63/c0/3963c0ea58911dcdf9838dfd7de66d9e.jpg"></img>

<p class='death'>You are dead</p>
<p>Do you want to play again?</p>

<nav class="weapon">
	<a href="/"><span>Yes</span><span>Prepare yourself</span></a>
	<a href="/funeral"><span>No</span><span>Prepare yourself</span></a>
</nav>

