<h3>Knight points at a table with three items. A dagger, a stick, a sword.</h3>

<nav class="weapon">
	<a href="/dagger"><span>Dagger</span><span>Stats: Ehh.</a>
	<a href="/stick"><span>Stick</span><span>Stats: It's a Stick!</span></a>
	<a href="/sword"><span>Sword</span><span>Stats: 9000+</span></a>
</nav>
