<p><q>I can find my own way.</q>, you say as you run Sir Jabsalot through.</p>
<p>After weeks of wondering around in the woods, you realize that you overestimated your navigational skills.</p>

<p>As you pass out from lack of food, you wish you hadn't been so rash in matters of life and death.</p>


<nav class="weapon">
	<a href="/death"><span>Continue</span><span>Selfish</span></a>
</nav>