<p>Sure. I could use the help, I don't know where I am.</p>
<p>Sir Jabsalot points behind you and tells you, <q>Walk that way for 100 paces, there'll be a road. Follow it to the right for two miles and you'll be in town.</q></p>
<p><q>Thanks,</q> you say as you turn around, but he's vanished from view. Classic!</p>

<p>With nothing left to do, you proceed with his instructions and quickly find yourself in town. <q>Good thing he didn't lie. You think to yourself.</q></p>

<nav class="weapon">
	<a href="/town"><span>Continue</span></a>
</nav>
