<h3>You drank too much!</h3>
<p>It's closing time. <q>Get out of my pub!</q> The barkeep yells as you black out.</p>

<nav class="weapon">
  <a href="/"><span>Continue</span><span>Uh oh.</span></a>
</nav>
