<h3>Barkeep grows impatient.</h3>
<p><q>You come to my pub to not drink anything? Tell me a number!</q> He growls.</p>

<form action="/pints" method="post">
	<input type = "text" name="amount" />
  <nav class="weapon">
  	<a href="/pints"><span>Drink up!</span><span>You've earned it.</span></a>
  </nav>
