<h1>You wake up in the woods in the afternoon, with a huge headache.</h1>
<p><h2>What is your name? A loud voice yells from nearby.</h2></p>
<form action="/name" method="post">
	<input type = "text" name="name" />	
	<button><span> Enter</span></button>
</form>