<h3>Speak up, brave traveler. Will you fight him?</h3>

<nav class="weapon">
	<a href="/duel"><span>Alright, let's do this!</span><span>Journey proceeds</span></a>
	<a href="/decline"><span>No. I refuse to fight you.</span><span>Wimpy</span></a>
</nav>
