<h3><q>I'll let you live, but I'm taking these,</q> you say.</h3>
<p>You are so nice.</p>
<p>You proceed to take Sir Jabsalot's horse and sword.</p>
<p>The horse leads you to the nearest town, because horses are smart, and that's where he happens to stable. You think karma can't possibly exist because there's no way you could be a jerk and luck out so much.</p>
<p>Once at the stable he hungrily munches on hay refusing to go anywhere else with you, but at least you're in town.</p>

<nav class="weapon">
  <a href="/town"><span>Check surroundings</span><span>You've made it.</span></a>
</nav>
