<p>Are you kidding me? A stick?</p>
<p>You thump his armor and slightly annoy him. The knight cleaves you in two with one great swoop. It was pretty awesome.</p>

<nav class="weapon">
	<a href="/death"><span>Continue</span><span>Prepare yourself</span></a>
</nav>