
<h3>
 Why hello sir <%= $player.name %>? May I challenge you to a duel 
</h3>
<!-- 
<button><a href="/continue_sir">Continue</a></button>
<button><a href="/continue_lady">But, I'm a lady</a></button> -->

<nav class="weapon">
	<a href="/continue_sir"><span>Continue</span><span>FORWARD!!!</span></a>
	<a href="/continue_lady"><span>But, I'm a lady</span><span>How am I suppose to know?</span></a>
</nav>