<h3>Sir Jabsalot kneels prostrate before you.</h3> 
<p><blockquote>I yield. If you let me live, I'll take you to the nearest town</blockquote></p>



<nav class="weapon">
	<a href="/live"><span>Let him live</span><span>Softy</span></a>
	<a href="/kill"><span>Kill him</span><span>Are you not entertained?</span></a>
	<a href="/steal"><span>Steal his horse and sword</span><span>Ride into the sunset</span></a>
</nav>
