<p>Sir Jabsalot kneels prostrate before you.</p> 
<p><blockquote>I yield. If you let me live, I'll take you to the nearest town</blockquote></p>

 <button><a href = '/live'>Let him live</a></button>
    
 <button><a href = '/kill'>Kill him</a></button>
    
 <button><a href = '/steal'>Steal his horse and sword.</a></button>
   
