<p>You win, unscathed, apparently your years of watching violent tv shows have equipped you for the horrors of war.</p>

<nav class="weapon">
	<a href="/surrender"><span>Continue</span><span>Journey proceeds</span></a>
</nav>