<h3>You're in town, but being lost and fighting has worked up a mighty thirst.</h3>

<p>You see 'Ye Olde Pub' across the market. Generic I know, but they didn't have copyright laws back then.</p>

<p>How many pints will you order?</p>
